<div class="dashboard theme1" ng-init="vm.init()">
    <div class="main-container">
        <div class="dashboard-title">
            <p>Dashboard</p>
        </div>
        <div class="short-cuts">
            <div class="wrapper">
                <div class="short-cut" ng-click="vm.goToProjects()">
                    <div class="header">
                        <div class="details">
                            <div class="img-wrapper">
                                <img src="./resources/projects-menu.png">
                            </div>
                            <div class="module-name">
                                <p class="heading">PROJECTS</p>
                                <p class="sub-heading">Total Count</p>
                            </div>
                        </div>
                    </div>
                    <div class="count">18</div>
                </div>
            </div>
            <div class="wrapper">
                <div class="short-cut" ng-click="vm.goToContacts()">
                    <div class="header">
                        <div class="details">
                            <div class="img-wrapper">
                                <img src="./resources/scontacts-menu.png">
                            </div>
                            <div class="module-name">
                                <p class="heading">CONTACTS</p>
                                <p class="sub-heading">Total Count</p>
                            </div>
                        </div>
                    </div>
                    <div class="count">66</div>
                </div>
            </div>
            <div class="wrapper">
                <div class="short-cut">
                    <div class="header">
                        <div class="details">
                            <div class="img-wrapper">
                                <img src="./resources/files-dash.png">
                            </div>
                            <div class="module-name">
                                <p class="heading">UPDATED FILES</p>
                                <p class="sub-heading">Total Count</p>
                            </div>
                        </div>
                    </div>
                    <div class="count">122</div>
                </div>
            </div>
        </div>
        <div class="stats">
            <scrollable>
                <div class="state-contnr">
                    <div class="active-user">
                        <div class="heading">
                            <p><span class="number">22</span><span class="text">Active Users</span></p>
                        </div>
                        <div class="image-contnr">
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                        </div>
                        <div class="more-btn">
                            <button>+6 More</button>
                        </div>
                    </div>
                </div>
                <div class="state-contnr">
                    <div class="recent-user">
                        <div class="heading">
                            <p><span class="number">7</span><span class="text">Recent Logged In Users</span></p>
                        </div>
                        <div class="image-contnr">
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                            <div class="img-wrapper">
                                <img src="./resources/profile.jpg">
                            </div>
                        </div>
                        <div class="more-btn">
                            <button>+6 More</button>
                        </div>
                    </div>
                </div>
                <div class="state-contnr">
                    <div class="guest-user">
                        <div class="heading">
                            <p>
                                <span class="number">4</span><span class="text">Guest Users</span>
                            </p>
                        </div>
                        <div class="users-contnr">
                            <div class="user">
                                <div class="img-wrapper">
                                    <img src="./resources/profile.jpg">
                                </div>
                                <div class="details">
                                    <p class="name">Tamodeep Das</p>
                                    <p class="designation">Engineer, Innofied PVT Ltd</p>
                                </div>
                            </div>
                            <div class="user">
                                <div class="img-wrapper">
                                    <img src="./resources/profile.jpg">
                                </div>
                                <div class="details">
                                    <p class="name">Tamodeep Das</p>
                                    <p class="designation">Engineer, Innofied PVT Ltd</p>
                                </div>
                            </div>
                            <div class="more-btn">
                                <button>+6 More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state-contnr">
                    <div class="project-graph">
                        <div id="chart_div"></div>
                    </div>
                </div>
            </scrollable>
        </div>
    </div>
    <div class="recent-activity">
        <div class="title">
            <p>Recent Activities</p>
        </div>
        <div class="activity-wrapper">
            <scrollable>
                <div class="day-activity">
                    <div class="date-time">
                        <div class="date"> <span class="number">25</span><span class="text">Oct</span></div>
                        <div class="year">2016</div>
                        <div class="day">Monday</div>
                    </div>
                    <div class="activities">
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have created a project Office Decoration.</p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have uploaded 4 files in the project Office Decoration.</p>
                                <div class="file-list">
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have deleted a project Office Decoration.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="day-activity">
                    <div class="date-time">
                        <div class="date"> <span class="number">25</span><span class="text">Oct</span></div>
                        <div class="year">2016</div>
                        <div class="day">Monday</div>
                    </div>
                    <div class="activities">
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have created a project Office Decoration.</p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have uploaded 4 files in the project Office Decoration.</p>
                                <div class="file-list">
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have deleted a project Office Decoration.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="day-activity">
                    <div class="date-time">
                        <div class="date"> <span class="number">25</span><span class="text">Oct</span></div>
                        <div class="year">2016</div>
                        <div class="day">Monday</div>
                    </div>
                    <div class="activities">
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have created a project Office Decoration.</p>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have uploaded 4 files in the project Office Decoration.</p>
                                <div class="file-list">
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                    <div class="file">
                                        <div class="extension">XLS</div>
                                        <div class="name">constractor list.xls</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activity">
                            <div class="bullet"></div>
                            <div class="details">
                                <p>You have deleted a project Office Decoration.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </scrollable>
        </div>
    </div>
</div>
