<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Select Location</h3>
</div>
<div class="modal-body" id="modal-body">
    <abn-tree icon-leaf="fa fa-folder-o abn-leaf-node" icon-expand="fa fa-folder-o" icon-collapse="fa fa-folder-open-o" tree-control="myTree" drag-drop-enable="false"></abn-tree>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.save()">Select</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
