<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Rename Folder</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="name">New Name</label>
            <input type="text" class="form-control" id="name" ng-model="vm.folder.newName">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
